html .main-left-slider {
  // background: $color-primary-dark;
  box-shadow: 0 2px 6px 4px rgba(26, 37, 51, 0.31);

  .main-menu {
    height: calc(100% - 64px);
    overflow: auto;
    // background: $color-primary-dark;
    .ant-menu-item-selected {
      // background-color: $color-secondary-active !important;
    }
  }
  .menu-icon {
    font-size: 16px;
    margin-right: 5px;
  }
  .ant-menu-submenu-title,
  .ant-menu-item {
    // color: $color-secondary-active;
    z-index: 0;
  }

  .ant-menu-submenu-title::before,
  .ant-menu-item::before {
    content: '';
    width: 0;
    height: 100%;
    display: block;
    //background: rgba(82, 204, 78, 0.3);
    background: $color-secondary-active;
    box-shadow: 0 0 175px 0 $color-secondary-active;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.6s;
  }

  // .ant-menu-submenu-title:hover::before,
  // .ant-menu-item:hover::before {
  //   width: 100%;
  // }

  .ant-menu-submenu-title,
  .ant-menu-item {
    &:hover {
      color: #fff;
      &::before {
        width: 100%;
      }
    }
    > a {
      &:hover {
        color: #fff;
      }
    }
  }
}
