// #app {
// override antd left sider
.ant-menu,
.ant-menu-submenu > .ant-menu {
  background: #435067;
  color: #e8f0ff;
}

.ant-menu-item > a {
  color: #e8f0ff;
}
.ant-menu-dark .ant-menu-item-selected > a,
.ant-menu-dark .ant-menu-item-selected > a:hover {
  color: #fff;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  // background: $color-primary;
  background: $color-secondary-active;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #fff;
}
html
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background-color: $color-secondary-active;
}
// }
